modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "node ./dist/index.cjs"]
build = ["sh", "-c", "npm run build && npm run db:migrate"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_object_storage:1.0.0", "javascript_database:1.0.0", "stripe:2.0.0"]

[userenv]

[userenv.shared]
ITERABLE_REGISTRATION_CANCELED_CAMPAIGN_ID = "16336293"
ITERABLE_REGISTRATION_TRANSFERRED_CAMPAIGN_ID = "16336295"
ITERABLE_CHECKED_IN_CAMPAIGN_ID = "16336319"
ITERABLE_QUALIFICATION_GRANTED_CAMPAIGN_ID = "16336320"
ITERABLE_CHECKED_IN_CAMPAIGN_ID_ES = "16427151"

[userenv.development]
MARKET_SCOPING_ENABLED = "true"
ITERABLE_EVENT_CONFIRMATION_CAMPAIGN_ID_ES = "16427151"
ITERABLE_EVENT_CONFIRMATION_CAMPAIGN_ID = "16336221"

[userenv.production]
MARKET_SCOPING_ENABLED = "true"
ITERABLE_EVENT_CONFIRMATION_CAMPAIGN_ID_ES = "16427151"
ITERABLE_EVENT_CONFIRMATION_CAMPAIGN_ID = "16336221"
